<form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" [(ngModel)]="searchInput"
            (input)="onSearchInput()">
    </div>
</form>





<!-- 
<div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Search Text</label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
      </div>
      <ul class="list-group list-group-flush">
         results of ngFor is passed to appFilter with argument searchText
        <li class="list-group-item" *ngFor="let s of searches | appFilter: searchText">
          {{c}}
        </li>
      </ul>
    </div>
  </div> -->