@import "../../../styles.scss";

.office-manager-container {
  display: flex;
  font-size: 12px;
  margin: 25px;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 500px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 40em;
  height: 100%;
  background: #201d1d;
  padding: 42px;
  border-radius: 8px 0px 0px 8px;
}

.office-company-container {
  background: #110f0f;
  position: relative;
  display: flex;
  width: 40em;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  // border-radius: 0px 8px 8px 0px;
  overflow: auto;
}

.employee-office-container {
  background: #201d1d;
  position: relative;
  display: flex;
  width: 40em;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  border-radius: 0px 8px 8px 0px;
  overflow: auto;
}

.company-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
  .company-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;
    p {
      margin: 0px;
      width: 100%;
    }

    &.is-active {
      background-color: #101010;
      color: $dark-blue;
    }
  }
  overflow: auto;
}

.office-menu {
  display: flex;
  flex-direction: column;
  // margin-top: 15px;
  flex-grow: 1;
  .office-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;
    p {
      margin: 0px;
      width: 100%;
    }

    &.is-active {
      background-color: #0c0c0c;
      color: $dark-blue;
    }
  }
  overflow: auto;
}

.employee-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
  .employee-menu-item {
    display: flex;
    background-color: #201d1d;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;
    p {
      margin: 0px;
      // width: 100%;
    }

    &:select {
      background-color: #110f0f;
    }

    &.is-active {
      background-color: #201d1d;
      color: $dark-blue;
    }
  }
  overflow: auto;
}

.office {
  background: #ffffff;
  padding: 15px 20px;
  // margin-top: 10px;
  border-radius: 5px;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  user-select: none;
  &:not(.selected) {
    &:active {
      transform: scale(0.95);
    }
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &.selected {
    text-decoration: #000000;
    opacity: 0.5;
  }
}

.employee {
  background: #0c0c0c;
  padding: 15px 20px;
  // margin-top: 10px;
  border-radius: 5px;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  user-select: none;
  &:not(.selected) {
    &:active {
      transform: scale(0.95);
    }
  }
  &:hover {
    cursor: pointer;
    background-color: #201d1d;
  }
  &.selected {
    text-decoration: #000000;
    opacity: 0.5;
  }
}

.add-button {
  position: absolute;
  padding: 10px;
  bottom: 35px;
  right: 35px;
  border: none;
  border-radius: 5px;
}

.relocate-button {
  position: absolute;
  padding: 10px;
  bottom: 35px;
  left: 35px;
  border: none;
  border-radius: 5px;
}

.btn-rounded-corners {
  border-radius: 25px;
}

.office {
  p {
    margin: 0px;
  }
  background-color: #201d1d;
}

.pull-right {
  float: right;
}

.office-delete {
  color: #007bff;
  &:hover {
    color: red;
    cursor: pointer;
  }
  padding: 0px 5px;
}

.office-relocate {
  color: #007bff;
  &:hover {
    color: red;
    cursor: pointer;
  }
  padding: 0px 5px;
}

a.company-menu-item {
  &:hover {
    text-decoration: none;
  }
}

mat-expansion-panel {
  width: 100%;
  font-size: 12px;
  background-color: #0c0c0c;
  color: white;
  border-radius: 5%;
  &:hover {
    background-color: #201d1d;
  }
}

mat-expansion-panel p span {
  color: rgb(147, 147, 147);
}

mat-panel-title {
  color: #ffffff;
}

mat-expansion-panel-header {
  background-color: #201d1d;
}
