<div class="centered-content">
    <div class="office-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Companies
            </h1>
            <div class="company-menu">
                <a class="company-menu-item" *ngFor="let company of companies"
                    [routerLink]="['/company', company._id, 'offices']" routerLinkActive="is-active">
                    <p class="white-text" (click)="getOffices(company._id)">
                        {{ company.name.slice(0, 8) }}
                        <span class="pull-right office-delete btn-rounded-corners"
                            (click)="deleteCompany(company)">X</span>
                    </p>
                </a>
            </div>
            <button class="btn btn-primary btn-round-corners" routerLink="/company/new-company">Add Company</button>
        </div>

        <div class="office-company-container">
            <h1 class="title has-text-primary">
                Offices
            </h1>
            <div class="office-menu">
                <a class="office office-menu-item" [ngClass]="{'is-active':office.headquarters === true}"
                    *ngFor="let office of offices">
                    <p class="white-text" (click)="getEmployees(office._id)">
                        {{ office.streetName.slice(0, 10) }}
                        <span> in {{ office.cityName.slice(0, 8) }}</span>

                        <!-- 
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ office.streetName.slice(0, 8) }} - {{ office.cityName.slice(0, 8) }}
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
    </mat-expansion-panel-header>
    <p><span>Country Name : </span><i>{{ office.countryName }}</i></p>
    <p><span>If Headquarters: </span><i>{{ office.headquarters }}</i>
    </p>
    <span class="pull-right office-delete btn-rounded-corners" (click)="deleteOffice(office)">X</span>
    <span class="pull-right office-relocate btn-rounded-corners"
        (click)="headquarters(offices, office)">headquarters</span>
</mat-expansion-panel> -->



                        <span class="pull-right office-delete btn-rounded-corners"
                            (click)="deleteOffice(office)">X</span>
                        <span class="pull-right office-delete btn-rounded-corners"
                            (click)="headquarters(offices, office)">*</span>
                    </p>
                </a>
                <button class="btn btn-primary add-button" (click)="addOfficeClick()">
                    Add Office
                </button>
            </div>








        </div>
        <div class="employee-office-container">
            <h1 class="title has-text-primary">
                Employees
            </h1>
            <div class="company-menu">
                <div class="emplyee-menu-item" *ngFor="let employee of employees">
                    <div>
                        <!-- <p (click)="relocateEmployee(employee)"> -->


                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ employee.firstName.slice(0, 8) }} {{ employee.lastName.slice(0, 8) }}
                                </mat-panel-title>
                                <mat-panel-description>

                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p><span>exp: </span><i>{{ employee.experience }}</i></p>
                            <p><span>Starting Date: </span><i>{{ employee.startingDate.toString().slice(0, 10) }}</i>
                            </p>
                            <p><span>Salary: </span><i>$ {{ employee.salary }}</i></p>
                            <p><span>Vacation Days:</span><i>{{ employee.vacationDays }}</i></p>
                            <span class="pull-right office-delete btn-rounded-corners"
                                (click)="deleteEmployee(employee)">X</span>
                            <span class="pull-left office-relocate btn-rounded-corners"
                                (click)="relocateEmployeeClick(employee)">relocate</span>
                        </mat-expansion-panel>

                    </div>
                </div>
            </div>

            <button class="btn btn-primary add-button" (click)="addEmployeeClick()">
                Add Employee
            </button>
        </div>
    </div>
</div>