<div class="centered-content">
    <div class="model-box form-group">
        <h1 class="title">Relocate Employee</h1>

        <mat-select [(ngModel)]="currentOfficeId" class="form-control has-background-light" placeholder="Select Office">
            <mat-option value="" disabled selected>Select Office</mat-option>
            <mat-option *ngFor="let office of offices" [value]="office._id">
                {{office.streetName}}</mat-option>
        </mat-select>

        <br>
        <div class="buttons">
            <button class="btn btn-white-text" (click)="canselClick()">Cansel</button>
            <button class="btn btn-primary" (click)="relocateEmployee(currentOfficeId)">Relocate</button>
        </div>
    </div>
</div>