<div class="centered-content">
    <div class="model-box form-group">
        <h1 class="title">Create a new employee item</h1>
        <input #employeeFirstNameInput nametype="text" class="form-control has-background-light"
            placeholder="Enter first name">
        <input #employeeLastNameInput nametype="text" class="form-control has-background-light"
            placeholder="Enter last name">
        <input #employeeStaringDateInput nametype="text" class="form-control has-background-light"
            placeholder="Enter starting date">
        <input #employeeSalaryInput nametype="text" class="form-control has-background-light"
            placeholder="Enter salary">
        <input #employeeVacationDaysInput nametype="text" class="form-control has-background-light"
            placeholder="Enter vacation days">
        <input #employeeExperienceInput nametype="text" class="form-control has-background-light"
            placeholder="Enter experience {junior, mid, senior}">


        <div class="example-container mat-elevation-z8">
            <!-- <h2>Add Gallery</h2> -->
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <mat-card class="example-card">
                <form [formGroup]="galleryForm">
                    <mat-form-field class="example-full-width">
                        <mat-label>Gallery Image</mat-label>
                        <ngx-mat-file-input formControlName="imageFile" placeholder="Select Image"
                            valuePlaceholder="No image file selected" [errorStateMatcher]="matcher">
                        </ngx-mat-file-input>
                        <mat-icon matSuffix>folder</mat-icon>
                        <mat-error>
                            <span *ngIf="!galleryForm.get('imageFile').valid">Please select image file</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Image Name</mat-label>
                        <input matInput placeholder="Image Name" formControlName="imageTitle"
                            [errorStateMatcher]="matcher">
                        <mat-error>
                            <span
                                *ngIf="!galleryForm.get('imageTitle').valid && galleryForm.get('imageTitle').touched">Please
                                enter Image Name</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Image Description</mat-label>
                        <input matInput placeholder="Image Description" formControlName="imageDesc"
                            [errorStateMatcher]="matcher">
                        <mat-error>
                            <span
                                *ngIf="!galleryForm.get('imageDesc').valid && galleryForm.get('imageDesc').touched">Please
                                enter Image Description</span>
                        </mat-error>
                    </mat-form-field>
                    <div class="button-row">
                        <button type="submit" mat-flat-button color="primary">
                            <mat-icon>upgrade</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>


        <button class="btn btn-white-text" (click)="cancelClick()">Cansel</button>
        <button class="btn btn-primary" type="submit"
            (click)="addEmployee(employeeFirstNameInput.value, employeeLastNameInput.value, employeeStaringDateInput.value, employeeSalaryInput.value, employeeVacationDaysInput.value, employeeExperienceInput.value)">Add</button>
    </div>
</div>