<div class="centered-content">
    <div class="model-box form-group">
        <h1 class="title">Create a new office</h1>
        <input [(ngModel)]="countryNameInput" nametype="text" class="form-control has-background-light"
            placeholder="Enter country name">
        <input [(ngModel)]="cityNameInput" nametype="text" class="form-control has-background-light"
            placeholder="Enter city name">
        <input [(ngModel)]="streetNameInput" nametype="text" class="form-control has-background-light"
            placeholder="Enter street name">
        <input [(ngModel)]="streetNumberInput" nametype="text" class="form-control has-background-light"
            placeholder="Enter streetNumber">
        <input [(ngModel)]="ifHeadquartersInput" nametype="text" class="form-control has-background-light"
            placeholder="Enter if it's the headquarters (optional)">

        <button class="btn btn-white-text" (click)="cancelClick()">Cansel</button>
        <button class="btn btn-primary" (click)="addOffice()">Add</button>
    </div>
</div>